<div class="container">
    <mat-card class="mat-elevation-z8">
        <mat-card-content>
            <main>
                <mat-card-title>Bem-vindo ao MediProLink</mat-card-title>
                <mat-card-subtitle>O seu sistema de registro de atendimentos médicos</mat-card-subtitle>
                <br>
                <section>
                    <h1>Com o MediProLink, você pode:</h1>
                    <ul>
                        <li>Registrar Atendimentos médicos</li>
                        <li>Manter um histórico de atendimentos</li>
                        <li>Registrar informações dos pacientes e médicos</li>
                        <li>Gerenciar receituários e prescrições médicas</li>
                    </ul>
                </section>
            </main>
        </mat-card-content>
    </mat-card>
</div>